.container{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 25rem;
    border-radius: 1rem;
    background: #EEB4B4;
    box-shadow: 4px 4px 15px rgba(#000, 0.15);
    position : relative;
    color: #FCFCFC;

}
